:root {
    --border-radius: 10px;
    --border: 1px solid #0000001A;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: fit-content;
    padding: 17px;
    border-radius: var(--border-radius);
    border: var(--border);
}

.defaultInput {
    padding: 10px;
    border-radius: var(--border-radius);
    border: var(--border);
    background-color: #F3F3F5;
}

.productCartImage {
    max-width: 100%;
    aspect-ratio: 3/4;
}